body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.logo{
    height: 200px;
    display: flex;
    align-items: center;
}
form{
    width: 500px;
    height: 400px;
    background-color: rgba(0,0,50,.02);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #4d604d;
}
p{
    text-align: center;
    color: rgb(88, 86, 86);
}
input{
    width: 300px;
    height: 33px;
    margin: 15px;
    border-radius: 5px;
    border: 2px solid #4d604d;
    outline: none;
}
::-webkit-input-placeholder{
    font-size: 16px;
    text-align: center;
    color: rgba(0,0,0,0.4);
}
input[type=submit]{
    width: 150px;
    height: 33px;
    margin: 5px;
    color: white;
    background-color: #4d604d;
    font-size: 16px;
    border: none;
    font-weight: 800;
    border-radius: 5px;
}
input[type=submit]:hover{
    background-color:#5b715b; 
}